.image-container {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.image {
  display: block;
  user-select: none;
  pointer-events: none;
}

.area {
  position: absolute;
  border: 2px dashed rgba(0, 150, 255, 0.7);
  resize: both; /* Позволяет изменять размеры */
  overflow: auto;
}

.delete-btn {
  position: absolute;
  top: -10px;
  right: -10px;
  background: red;
  color: white;
  border-radius: 50%;
  width: 20px;
  height: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
